@font-face {
    font-family: 'gilroylight';
    src: local('gilroylight'),
         url('gilroylight-webfont.woff2') format('woff2'),
         url(../fonts/'gilroylight-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroyextrabold';
    src: local('gilroyextrabold'),
         url('gilroyextrabold-webfont.woff2') format('woff2'),
         url(../fonts/'gilroyextrabold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
}


body {
    width: 1440px;
    margin: 40px auto;

    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14.3px;
    line-height: 30px;
    letter-spacing: 0.15px;
    text-align: left;
    color: #464646;

    background-color: #ffffff;
}

.visually-hidden {
    position:absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.user-menu,
.site-navigation,
.container-sub-menu ul,
.catalog-menu-list,
.brends-list,
.partner-list,
.footer-user-menu,
.footer-services-list,
.footer-social,
.menu-list,
.color-product-list,
.container-form ul,
.sorting-list,
.catalog-list,
.paginator {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Хедер */

/* .feedback-form > * {
    background: rgba(255, 0, 0, 0.3);
}

.feedback-form > * > * {
    background: rgba(255, 255, 0, 0.3);
}

.feedback-form > * > * > *{
    background: rgba(0, 255, 0, 0.3);
}

.feedback-form > * > * > * > * {
    background: rgba(0, 0, 255, 0.5);
    outline: 1px solid white;
} */

.main-header-logo:hover,
.main-header-logo:focus,
.user-menu a:hover,
.user-menu a:focus,
.site-navigation a:hover,
.site-navigation a:focus {
    opacity: 0.6;
}

.main-header-logo:active,
.user-menu a:active,
.site-navigation a:active {
    opacity: 0.3;
}
.main-header {
    position: relative;

    display: flex;
    flex-direction: column;
    min-height: 186px;
    width: 1160px;
    margin: 0 auto;
    box-sizing: border-box;

    background-color: rgba(240, 197, 46, 0.5);
    color: #000000;
}

.main-header a {
    color: #000000;
    text-decoration: none;
}

.main-header-logo {
    position: absolute;
    top: -18px;
    left: 60px;
}
.main-header .user-menu {
    width: 89.5%;
    margin: 0 auto;
    margin-top: 42px;
    margin-bottom: 34px;

    display: flex;
    align-items: baseline;
}

.user-menu  a {
    position: relative;
    display: block;

    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14.3px;
    line-height: 30px;
    letter-spacing: 0.15px;
    text-align: left;
}

.user-menu .search {
    flex-basis: 11.06%;
    margin-left: 3.5%;
    margin-right: 39.9%;
}

.user-menu li:not(:first-child) {
    flex-basis: auto;
}

.user-menu .user-name {
    margin-right: 1.8%;
}

.user-menu .login-link {
    filter: opacity(0.3);
}

.user-menu .compare {
    margin-left: auto;
    margin-right: 6.15%;
}

.user-menu .basket {
    margin-right: 0;
}
.search-form input[type="search"] {
    width: 115px;
    min-height: 30px;
    box-sizing: border-box;

    border: none;
    background: none;
    font: inherit;
    font-size: 14.3px;
    filter: opacity(0.3);
}

.search-form input[type="search"]:hover {
    filter: opacity(0.6);
}
.search-form input[type="search"]:focus {
    filter: opacity(1);
    color: #000000;
}

.search-form label{
    position: relative;
}

.search-form label::before {
    content: "";
    position: absolute;

    display: block;
    width: 16px;
    height: 16px;
    top: 4px;
    left: -33px;

    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.search-form {
    position: relative;
}

.search-form .search-btn {
    position: absolute;
    top: -8px;
    right: -289px;
    width: 85px;
    height: 49px;
    border-radius: none;
    border: none;
    border: 2px solid #000000;
    background-color: transparent;
    z-index: 1;

    font: inherit;
    font-size: 14.3px;
    filter: opacity(0);
    transition: filter ease 0.6s;

}

.search-btn::after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: 0;
    display: block;
    width: 437px;
    height: 2px;
    background-color: #000000;
}

input[id="search-in-site"]:focus ~ .search-btn {
    filter: opacity(1);
}

.search-btn:hover {
    background-color: #000000;
    color: #ffffff;
}

.search-btn:active {
    background-color: #000000;
    color: rgba(255, 255, 255, 0.3);
    filter: opacity(1);
}

.user-menu  a::before {
    content: "";
    position: absolute;

    display: block;
    top: 9px;
    left: -21px;
    width: 13px;
    height: 12px;

    background-repeat: no-repeat;
    background-position: center;
}

.user-name a::before {
    background-image: url(../img/user.svg);
    left: -26px;
}

.compare a::before {
    background-image: url(../img/compare.svg);
}

.basket a::before {
    background-image: url(../img/cart.svg);
    left: -24px;
}

.main-navigation {
    width: 89.5%;
    margin: 0 auto;
}

.site-navigation  {
    display: flex;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    text-align: left;
}

.site-navigation > li:first-child {
    position: relative;
    min-height: 60px;
    flex-basis: 220px;
    margin-right: 319px;
}

.site-navigation > li:nth-child(2) {
    margin-right: 34px;
}

.site-navigation > li:nth-child(3) {
    margin-right: px;
}
.site-navigation > li:last-child {
    margin-left: auto;
    margin-right: -3.6px;
    flex-basis: 120px;
}

.site-navigation > li:first-child::after {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 60px;
    background-image: url(../img/plus.svg);
    background-repeat: no-repeat;
    background-position: 12px top;
    top: 3px;
    right: -29px;
    filter: opacity(0.3);
}

.site-navigation .container-sub-menu {
    position: absolute;
    top: 47px;
    left: -61px;
    width: 1160px;
    min-height: 143px;
    box-sizing: border-box;
    padding-left: 60px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #f7e296;
    z-index: 10;
    display: none;
}

.drop-down-menu:hover .container-sub-menu,
.drop-down-menu:focus .container-sub-menu  {
    display: flex;
}

.site-navigation ul[class^="sub"] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-right:57px;

    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14.3px;
    line-height: 30px;
    text-transform: none;
    font-weight: normal;
    letter-spacing: 0.15px;
    color: #000000;
}

.container-sub-menu ul[class="sub-menu-2"] {
    margin-right: 76px;
}

.site-navigation ul[class^="sub"] li {
    margin-bottom: 5px;
}


/* Слайдер--------------------------------------------------------------- */

.slider input[type="radio"] {
    display: none;
}

.slider-controls {
    position: absolute;
    top: 321px;
    right: 60px;
    z-index: 7;
    display: flex;
    align-items: center;
}
.slider-controls label {
    width: 12px;
    height: 12px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    margin-right: 21px;
    background-color: #ffffff;

}

.slider-controls .button {
   margin-right: 222px;
}

input[id="btn-1"]:checked ~ .slider-controls label[for="btn-1"],
input[id="btn-2"]:checked ~ .slider-controls label[for="btn-2"],
input[id="btn-3"]:checked ~ .slider-controls label[for="btn-3"] {
    box-shadow:  0 0 1px 1px rgba(0, 0, 0, 0.8),
                 inset 0 0 0 3px rgba(255, 255, 255, 1),
                 inset 0 0 0 4px rgba(0, 0, 0, 0.8);
}

input[id="btn-1"]:checked ~ .slider-inner .slider-slides {
    transform: translate(0);
}

input[id="btn-2"]:checked ~ .slider-inner .slider-slides {
    transform: translate(-1130px);
}

input[id="btn-3"]:checked ~ .slider-inner .slider-slides {
    transform: translate(-2260px);
}





.slider {
    position: relative;

     width: 1160px;
     box-sizing: border-box;
     margin-left: 140px;
     background-image:
        linear-gradient(#f7e296 110px, transparent 110px);
}

.slider-inner {
    width: 1130px;
    margin:0 auto;
    overflow: hidden;
}

.slider-slides {
    width: 300%;
    display: flex;
    flex-direction: row;
    transition: transform 0.8s ease;
}

.slider-item {
     position: relative;
     display: flex;
     flex-direction: row;
     width: 1130px;
     height: 595px;
     box-sizing: border-box;
}

.slider-item .inner-title-slider {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inner-title-slider b,
.inner-title-slider p {
    margin: 0;
}

.slider-item  b {
    font-family: "Gilroy";
    font-size: 47px;
    line-height: 56px;
    letter-spacing: 0.47;
    color: #000000;
    text-align: left;
}

.parameter-value td {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.36px;
    text-align: left;
    color: #000000;
}


/* Первый слайд ====================================================*/

.slider-item:first-of-type img {
    margin-left: 74px;
    margin-right: 125px;
}
.slider-item .inner-title-slider {
    margin-top: 78px;
}

.inner-title-slider .slogan-slider-1 {
    width: 395px;
    margin-bottom: 21px;
}

.description-product-1 {
    width: 485px;
}

.slider-item .parameter {
    margin-top: 129px;
    width: 100%;
}

.option-pv-1 td:first-child {
    width: 154px;
}
.option-pv-1 td:nth-child(2) {
    width: 134px;
}
.slider-item::after {
    content: "01";
    position: absolute;
    top: 8px;
    right: 47px;
    display: block;
    width: 166px;
    height: 131px;
    z-index: 5;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 180px;
    line-height: 135px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    text-indent: -5px;
}

.slider-item::before {
    content: "";
    position: absolute;
    top: 35px;
    left: 584px;
    display: block;
    width: 100px;
    height: 7px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 5;
}


/* Второй Слайд ================================================================== */

.slider-item:nth-of-type(2) img {
    margin-left: 100px;
    margin-right: 139px;
    margin-top: 9px;
}

.inner-title-slider .slogan-slider-2 {
    width: 258px;
    margin-bottom: 21px;
}

.description-product-2 {
    width: 439px;
}

.slider-item:nth-of-type(2)::after {
    content: "02";
}

/* Третий Слайд ========================================================== */

.slider-item:last-of-type img {
    margin-left: 13px;
    margin-right: 42px;
    margin-top: 65px;
}

.inner-title-slider .slogan-slider-3 {
    width: 505px;
    margin-bottom: 21px;
    z-index: 5;
}

.description-product-3 {
    width: 450px;
}

.option-pv-3 td:first-child {
    width: 160px;
}
.option-pv-1 td:nth-child(2) {
    width: 134px;
}
.slider-item:last-of-type::after {
    content: "03";
    z-index: -1;
}

/* Каталог популярных товаров ---------------------------------------------------------------*/

.catalog-menu {
    margin-bottom: 162px;
}

.catalog-menu-list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
}

.catalog-menu-item {
    display: flex;
    flex-basis: 160px;
    height: 160px;
}

.catalog-menu-item a {
    flex-basis: 160px;
    height: 160px;
    position: relative;

    background-color: rgba(240, 197, 46, 0.5);
}

.catalog-menu-item a:hover,
.catalog-menu-item a:focus {
    background-color: rgba(240, 197, 46, 1);
}

.catalog-menu-item a:active {
    background-color: rgba(240, 197, 46, 0);
    opacity: 0.5;

}

.catalog-menu-item:active {
    background-color: rgba(240, 197, 46, 1);
}


.catalog-menu-list span {
    text-decoration: none;
    color: #000000;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.18px;
    text-align: left;
    font-weight: bold;

    position: absolute;
    top: 199px;
}

.catalog-menu-item:first-of-type a {
    background-image: url(../img/popular-1.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.catalog-menu-item:nth-of-type(2) a {
    background-image: url(../img/popular-2.svg);
    background-repeat: no-repeat;
    background-position: 50% 100%;
}

.catalog-menu-item:nth-of-type(3) a {
    background-image: url(../img/popular-3.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.catalog-menu-item:nth-of-type(4) a {
    background-image: url(../img/popular-4.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.catalog-menu-item:nth-of-type(5) a {
    background-image: url(../img/popular-5.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.catalog-menu-item:nth-of-type(6) a {
    background-image: url(../img/poppular-6.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/* Меню услуг таб на CSS3 ====================================================*/

.services-slider input {
    display: none;
}

input[id="services-btn-1"]:checked ~
.services-slider-controls label[for="services-btn-1"]::after,
input[id="services-btn-2"]:checked ~
.services-slider-controls label[for="services-btn-2"]::after,
input[id="services-btn-3"]:checked ~
.services-slider-controls label[for="services-btn-3"]::after {
    background-color: #000000;
    transform: scaleY(5) scaleX(1.7);
    transform-origin: left;

}

input[id="services-btn-1"]:checked ~
    .services-slider-controls label[for="services-btn-1"],
input[id="services-btn-2"]:checked ~
    .services-slider-controls label[for="services-btn-2"],
input[id="services-btn-3"]:checked ~
    .services-slider-controls label[for="services-btn-3"] {
    color: #f7e184;
}



input[id="services-btn-1"]:checked ~ .services-slider-inner .services-slider-slides {
    transform: translateY(0);
}
input[id="services-btn-2"]:checked ~ .services-slider-inner .services-slider-slides {
    transform: translateY(-319px);
}

input[id="services-btn-3"]:checked ~ .services-slider-inner .services-slider-slides {
    transform: translateY(-638px);
}


.services-slider {
    width: 1440px;
    display: flex;
    margin-top: 170px;
    margin-bottom: 94px;
    background-image:
        linear-gradient(transparent 100px, #e5e5e5 100px);
    z-index: -10;
}

.services-slider-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-basis: 277px;
    margin-left: 140px;
    height: 319px;
    box-sizing: border-box;
    border-right: 7px solid #000000;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 3.6px;
    color: #000000;
    font-weight: bold;
    text-align: center;
}

.services-slider-inner {
    flex-basis: 1016px;
    height: 319px;
    overflow: hidden;

}

.services-slider-slides {
    width: 1016px;
    display: flex;
    flex-direction: column;
    transition: transform 0.8s ease;
}

.services-slider-item {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 117px;
    margin-top: 73px;
    width: 436px;
    min-height: 246px;
}



.services-slider-controls .button {
    width: 160px;

}

.services-slider-controls .button::after {
    width: 160px;
    left: 0;
}

.services-slider-controls .button:first-child {
    margin-top: 90px;
}

.services-slider-controls .button:last-child {
    margin-bottom: 78px;
}

.services-slider-item h3 {
    margin: 0;
    margin-bottom: 33px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.47px;
    color: #000000;
    font-weight: bold;
    text-align: left;
}

.services-slider-item p {
    margin: 0;
}

.services-slider-item .services-image {
    position: absolute;
    top: 15px;
    right: -252px;
    width: 136px;
    height: 164px;
    background-image: url(../img/delivery.svg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.services-slider-item:nth-of-type(2) .services-image {
    top: -8px;
    right: -272px;
    width: 171px;
    height: 194px;
    background-image: url(../img/warranty.svg);
}

.services-slider-item:last-of-type  .services-image {
    top: -11px;
    right: -244px;
    width: 156px;
    height: 186px;
    background-image: url(../img/credit.svg);
}







/* Панель с логотипами брендов -------------------------------------------*/



.brends-panel {
    width: 1440px;
}


.brends-panel .brends-list {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
}

.brends-item {
    width: 260px;
    height: 100px;
}

.brends-item a {
    filter: grayscale(1) opacity(0.2);
}

.brends-item a:hover {
    filter: none;
}

/* Кнопки -------------------------------------------------------------- */

.button {
    position: relative;
    border: none;


    font-family: "Gilroy";
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3.6px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    z-index: 100;
}

.button::after {
    content: "";
    position: absolute;
    top: 8.5px;
    left: -44px;
    display: block;
    width: 220px;
    height: 8px;
    background-color: #f0c52e;
    z-index: -1;
    transition: transform 0.3s ease-in-out;


}

.button:hover::after,
.button:focus::after {
    transform: scaleY(5);
}

.button:active {
    color: rgba(0, 0, 0, 0.3);
}


/* О нас и Контакты ===================================================== */

.container-wrapper {
    width: 1160px;
    margin: 0 auto;
    margin-top: 93px;

    display: flex;
    flex-direction: row;
}

.about-us,
.contacts {
    position: relative;

    flex-basis: 560px;
    margin-bottom: 90px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container-wrapper section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 80px;
    height: 7px;
    background-color: #000000;

}

.about-us {
    flex-basis: 600px;
}

.container-wrapper p {
    line-height: 30px;
}

.about-us p {
    width:490px;
    margin: 0;
    margin-bottom: 38px;
}

.contacts p {
    width: 525px;
    margin: 0;
    margin-bottom: 38px;
}

.container-wrapper h2 {
    margin-top: 51px;
    margin-bottom: 43px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    font-weight: bold;
    line-height: 48px;
    letter-spacing: 0.47px;
    color: #000000;

}

.about-us .partner-list {

    margin-left: 34px;
    margin-top: 22px;
    margin-bottom: 36px;


    font-family: "Gilroy", "Arial", "sans-serif";
    font-size: 16px;
    font-weight: bold;
    line-height: 38px;
    color: #000000;
}

.partner-list li {
    position: relative;
}

.partner-list li::after {
    content: "";
    position: absolute;
    top: 15px;
    left: -32px;
    display: block;
    width: 4px;
    height: 4px;
    border: 2px solid rgba(229, 229, 229, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(229, 229, 229, 1);
}

.container-wrapper .button {
    margin-top: 29px;
    width: 260px;

}

.about-us-btn::after,
.feedback-btn::after {
    left: 0;
    width: 260px;
}

.feedback-btn {
    background: none;
}




/* ФУТЕР --------------------------------------------------------------*/




.main-footer {
    width: 1440px;
    min-height: 323px;
    box-sizing: border-box;
    padding-top: 64px;

    background-color: #464646;

    color: #ffffff;
}

.main-footer a {
    text-decoration: none;
    color: #ffffff;
}
.containre-wrapper-footer {
    width: 1160px;
    min-height: 192px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}


.main-footer-logo:hover,
.main-footer-logo:focus,
.footer-services-list  a:hover,
.footer-services-list  a:focus,
.footer-copyright a:hover,
.footer-copyright a:focus {
    opacity: 0.6;
}

.main-footer-logo:active,
.footer-services-list  a:active,
.footer-copyright a:active {
    filter: opacity(0.3);
}

.footer-user-menu a:hover,
.footer-user-menu a:focus {
    color: rgba(255, 255, 255, 1);
}

.footer-user-menu a:active {
    color: rgba(255, 255, 255, 0.3);
}

.main-footer-logo {
    flex-basis: 163px;
    height: 35px;
    margin-right: 436px;

}

.footer-user-menu {
    flex-basis: 480px;
    display: flex;
    margin-left: auto;
    justify-content: flex-end;

}

.footer-user-menu .compare,
.footer-user-menu .exet-link,
.footer-user-menu .login-link {
    margin-right: 65px;
}

.footer-user-menu .user-name {
    margin-right: 19px;
}
.footer-user-menu a {
    display: block;
    position: relative;
    color: rgba(255, 255, 255, 0.7);
}

.exet-link  a{
    color: rgba(255, 255, 255, 0.3);
}


.footer-user-menu a::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -25px;

    width: 12px;
    height: 13px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
}

.footer-usr-menu-list:first-child a::before {
    background-image: url(../img/user-footer.svg);
}

.footer-usr-menu-list:nth-last-child(2) a::before {
    background-image: url(../img/compare-footer.svg);
    left: -22px;
}

.footer-usr-menu-list:last-child a::before {
    background-image: url(../img/cart-footer.svg);
    left: -23px;
}

.footer-user-menu a:hover::before,
.footer-user-menu a:focus::before {
    filter: opacity(0.6);
}

.footer-user-menu a:active::before {
    filter: opacity(0.3);
}

.adress {
    marigin: 0;
    padding: 0;
    flex-basis: 350px;
}

.footer-services-list {
    padding: 0;
    margin: 0;
    flex-basis: 426px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    font-weight: bold;
}

.phone {
    margin: 0;
    padding: 0;
    flex-basis: 350px;
    text-align: right;
}

.decoration-box {
    width: 80px;
    height: 7px;
    background-color: #ffc600;
    align-self: flex-end;
    margin-bottom: 11px;
}

.footer-social {
    flex-basis: 141px;
    display: flex;
    justify-content: space-between;
    margin-top: 29px;

}

.footer-social .fb {
    display: block;
    width: 32px;
    height: 32px;

    background-image: url(../img/invalid-name-fb.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.footer-social .ins {
    display: block;
    width: 32px;
    height: 32px;

    background-image: url(../img/invalid-name-ins.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.footer-social .tw {
    display: block;
    width: 32px;
    height: 32px;

    background-image: url(../img/invalid-name-tw.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.footer-social a {
    filter: opacity(0.3);
}

.footer-social a:hover,
.footer-social a:focus {
    filter: opacity(0.6);
}

.footer-social a:active {
    filter: opacity(0.1);
}

.academy-logo {
    flex-basis: 84px;
    height: 35px;
    align-self: flex-end;
    text-align: right;

}

.main-footer path {
    fill: #ffc600;
}

/* Попапы картра и форма ------------------------- */


.feedback-form {
    position: relative;

    width: 960px;
    margin: 100px auto;
    box-shadow:
        -5px 10px 20px 0px rgba(0, 0, 0, 0.1),
         5px 10px 20px 0px rgba(0, 0, 0, 0.1);

    background-color: #ffffff;
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-between;
    align-items: center;
}

.feedback-form p {
    display: flex;
    flex-direction: column;
    width: 360px;
    padding: 0;
}
.user-name-field {
    margin-left: 100px;
    margin-top: 89px;
}

.user-email-field {
    margin-right: 100px;
    margin-top: 89px;
}

.feedback-form .textarea-field {
    width:760px;
    margin: 0 100px;
    margin-top: 14px;

}

.feedback-form .button {
    width: 200px;
    background: none;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 85px;
}

.feedback-form .button::after {
    width: 200px;
    left: 0;
    top: 9px;
}

.feedback-form input {
    background-color: rgba(229, 229, 229, 0.5);
    border: none;
    height: 50px;
    padding-left: 20px;
    color: rgba(70, 70, 70, 0.4);
}

.feedback-form label {
    font-family: "Gilroy", "Arial", "sans-serif";
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 4px;
}

.feedback-form textarea {
    background-color: rgba(229, 229, 229, 0.5);
    border: none;
    height: 156px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 31px;
    color: rgba(70, 70, 70, 0.4);

}

.feedback-form .modal-close {
    position: absolute;
    top: 22px;
    right: 22px;
    background: none;
    border: none;
    width: 55px;
    height: 55px;
    background-image: url(../img/modal-close.svg);
    filter: opacity(0.5);
}



/* Карта ================================================ */

.modal-map {
    position: relative;
    width: 960px;
    margin: 262px auto;
    box-shadow:
        -5px 10px 20px 0px rgba(0, 0, 0, 0.1),
         5px 10px 20px 0px rgba(0, 0, 0, 0.1)
}

.modal-map .modal-close {
    position: absolute;
    top: 22px;
    right: 22px;
    background: none;
    border: none;
    width: 55px;
    height: 55px;
    background-image: url(../img/modal-close.svg);
    filter: opacity(0.5);
}

.modal-map p {
    margin: 0;
    height: 559px;
}

.modal-close:hover,
.modal-close:focus {
    filter: opacity(1);
}

.modal-close:active {
    filter: opacity(0.3);
}













/* MAIN каталога -----------------------------------------*/


.container-catalog h2 {
    margin: 0;
    padding: 0;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.47px;
    text-align: left;
    font-weight: bold;
    color: #000000;
    margin-left: 201px;
    margin-top: 37px;
}

.container-catalog a {
    text-decoration: none;
    color: #000000;
}

.catalog-menu {
    margin: 0;
    padding: 0;
}

.menu-list {
    display: flex;
    flex-direction: row;
    margin-left: 201px;
    margin-top: 19px;
    margin-bottom: 40px;
}

.menu-list li {
    margin-right: 39px;
    position: relative;
}

.menu-list li:not(:nth-child(3))::after {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    transform: rotate(-45deg);
    top: 14px;
    right: -22px;

}




.container-catalog-filter {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 1439px;
    height: auto;

}

.filter {
    margin: 0;
    width: 467px;

    display:flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: #ebebeb;

}

.filter h3 {
    padding: 0;
    margin: 0;
    height: 71px;
    width: 100%;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 71px;
    letter-spacing: 3.2px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;

    background-color: #d9d9d9;
}

.filter-form {
    margin-top: 69px;
}

.container-form {
    position: relative;
    width: 201px;
    margin-left: 200px;
    border: none;
    border-top: 2px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    padding-top: 50px;

}

.container-form legend {
    position: absolute;
    top: 0;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.18px;
    font-weight: bold;
    text-align: left;

}

.cost  {
    height: 88px;

    border-top: 2px solid #000000;
}

.cost::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 22px;
    background-image: url(../img/filter-button.svg);
    top: 49px;
    z-index: 1;
}

.cost::after {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 22px;
    background-image: url(../img/filter-button.svg);
    top: 49px;
    left: 108px;
    z-index: 1;
}

.cost output {
    position: absolute;
    top: 78px;

    color: rgba(0, 0, 0, 0.2);
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
}
.cost output:last-of-type {
    left: 89px;
}

.cost legend::after {
    content: "";
    display: block;
    position: absolute;
    width: 110px;
    height: 2px;
    background-color: #91c92f;
    top: 58px;
    left: 10px;
}

.container-form  ul {
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.color-product label {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.14px;

    margin-left: 39px;
    position: relative;

}

.color-product label::before {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    position: absolute;
    background-image: url(../img/checkbox-off.svg);
    background-position: center;
    background-repeat: no-repeat;
    left: -39px;
    top: -1px;
}

 .color-product label::after{
    content: "";
    display: block;
    width: 27px;
    height: 23px;
    position: absolute;
    background-image: url(../img/checkbox-on.svg);
    background-position: center;
    background-repeat: no-repeat;
    left: -39px;
    top: -1px;
    z-index: 10;
}

 .color-product label::after {
    display: none;
}

.color-product label:hover,
.color-product label:focus {
    filter: opacity(0.6);
}

.color-product label:active {
    filter: opacity(1);
}

input[type="checkbox"]:disabled ~ label {
    filter: opacity(0.25);
}

input[name^="bla"]:checked ~ label[for^="bla"]::after,
input[name^="whi"]:checked ~ label[for^="whi"]::after,
input[name^="blu"]:checked ~ label[for^="blu"]::after,
input[name^="red"]:checked ~ label[for^="red"]::after,
input[name^="pin"]:checked ~ label[for^="pin"]::after {
    display: block;
}



.color-product li {
    margin-bottom: 17px;
}

.color-product li:last-child {
    margin-bottom: 42px;
}



.radio-bluetooth label {
    margin-left: 39px;
    margin-bottom: 18px;
    position: relative;

}
.radio-bluetooth li {
    margin-bottom: 18px;
}
.radio-bluetooth label::before {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    background-image: url(../img/radio-off.svg);
    background-position: center;
    background-repeat: no-repeat;
    left: -39px;
    top: -1px;
}

.radio-bluetooth label::after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    background-image: url(../img/radio-on.svg);
    background-position: center;
    background-repeat: no-repeat;
    left: -39px;
    top: -1px;
}

.radio-bluetooth label::after {
    display: none;
}

.radio-bluetooth label:hover,
.radio-bluetooth label:focus {
    filter: opacity(0.6);
}

.radio-bluetooth label:active {
    filter: opacity(1);
}

input[type="radio"]:disabled ~ label {
    filter: opacity(0.25);
}


.radio-bluetooth input[id="yes"]:checked ~ label[for="yes"]::after,
.radio-bluetooth input[id="no"]:checked ~ label[for="no"]::after
 {
    display: block;
}

.filter-form .filter-btn {
   margin-left: 200px;
   margin-top: 60px;
}

.catalog {
    padding: 0;
    margin: 0;
    width:972px;
    display:flex;
    flex-direction: column;
}

.catalog-header {
    height: 71px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: #ebebeb;
}

.catalog-header .catalog-header-title{
    padding: 0;
    margin: 0;
    margin-left: 74px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 71px;
    letter-spacing: 3.2px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}

.sorting-list {
    margin-left: 55px;
    width: 286px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-size: 14px;
    line-height: 18px;
}
.sorting-item:not(:first-child) a{
    filter: opacity(0.3);
}

.sorting-item a:hover,
.sorting-item a:focus {
    filter: opacity(0.6);
}

.sorting-item a:active {
    filter: opacity(1);
}

.catalog-header a[class^="arrow"] {
    font-size: 0;
    width: 11px;
    height: 10px;
}

.arrow-up {
    margin-left: 232px;

    background-image: url(../img/icon-up-dir.svg);
    background-repeat: no-repeat;
    background-position: center;
    filter: opacity(0.2);
}

.arrow-down {
    margin-left: 19px;

    background-image: url(../img/icon-down-dir.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.catalog-header a[class^="arrow"]:hover,
.catalog-header a[class^="arrow"]:focus {
    filter: opacity(0.4);
}

.catalog-header a[class^="arrow"]:active {
    filter: opacity(1);
}

.catalog-list {
    width: 800px;
    margin-left: 73px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.catalog-item {
    margin-right: 40px;
}

.catalog-item h3 {
    margin: 0;
    padding: 0;
}

.catalog-item a:hover img {
    filter: opacity(0.7);
}


.paginator {
    width: 759px;
    height: 70px;
    margin-left: 73px;
    margin-bottom: 77px;

    display: flex;
    align-items: center;

    background-color: #ebebeb;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3.2px;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}

.paginator .prev {
    display: block;
    width: 136px;
    height: 70px;

    font: inherit;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
    text-transform: uppercase;
}

.paginator .next {
    display: block;
    width: 136px;
    height: 70px;

    font: inherit;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
    text-transform: uppercase;
}

.paginator .prev:hover,
.paginator .prev:focus,
.paginator .next:hover,
.paginator .next:focus {
    background-color: #d9d9d9;
}

.paginator .prev:active,
.paginator .next:active  {
    background-color: #d9d9d9;
    color: rgba(0, 0, 0, 0.5);
}

.paginator  li:first-child {
    margin-right: auto;
}

.paginator  li:last-child {
    margin-left: auto;
}

.paginator li:nth-child(3) {
    margin: 0 30px;
}

.not-active a {
   filter: opacity(0.3);
}
