@font-face {
    font-family: 'gilroylight';
    src: url("../fonts/gilroylight-webfont.woff2") format('woff2'),
         url("../fonts/gilroylight-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "gilroyextrabold";
    src: url("../fonts/gilroyextrabold-webfont.woff2") format('woff2'),
         url("../fonts/gilroyextrabold-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

html,
body {
    margin: 0;
    padding: 0;
}


body {
    min-width: 1440px;
    margin: 40px auto;

    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 0.15px;
    text-align: left;
    color: #464646;

    background-color: #ffffff;
}

.visually-hidden {
    position:absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.user-menu,
.site-navigation,
.container-sub-menu ul,
.catalog-menu-list,
.brends-list,
.partner-list,
.footer-user-menu,
.footer-services-list,
.footer-social,
.menu-list,
.color-product-list,
.container-form ul,
.sorting-list,
.catalog-list,
.paginator {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-header-logo:hover,
.main-header-logo:focus,
.user-menu a:hover,
.user-menu a:focus,
.site-navigation a:hover,
.site-navigation a:focus {
    opacity: 0.6;
}

.main-header-logo:active,
.user-menu a:active,
.site-navigation a:active {
    opacity: 0.3;
}
.main-header {
    width: 1140px;
    margin: 0 auto;
    padding: 0 10px;

    background-color: rgba(240, 197, 46, 0.5);
    color: #000000;
}
.header-wrapper {
    position: relative;

    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.main-header a {
    color: #000000;
    text-decoration: none;
}

.main-header-logo {
    position: absolute;
    width: 164px;
    height: 35px;
    top: -17px;
    left: 0;
}
.main-header .user-menu {
    margin-top: 42px;
    margin-bottom: 38px;

    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.user-menu  a {
    position: relative;
    display: block;

    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.27px;
    font-weight: 300;
    text-align: left;
}

.user-menu .search {
    width: 110px;
    margin-left: 37px;
    margin-right: 419px;
}

.user-menu li:not(:first-child) {
    flex-basis: auto;
}

.user-menu .user-name {
    margin-right: 19px;
}

.user-menu .login-link {
    filter: opacity(0.3);
}

.user-menu .compare {
    margin-left: auto;
    margin-right: 61px;
}

.user-menu .basket {
    margin-right: 0;
}


.search-form input[type="search"] {
    width: 115px;
    min-height: 30px;
    box-sizing: border-box;

    border: none;
    background: none;
    font: inherit;
    font-size: 15.5px;
    filter: opacity(0.3);
}

.search-form input[type="search"]:hover {
    filter: opacity(0.6);
}
.search-form input[type="search"]:focus {
    filter: opacity(1);
    color: #000000;
}

.search-form label{
    position: relative;
}

.search-form label::before {
    content: "";
    position: absolute;

    display: block;
    width: 16px;
    height: 16px;
    top: 4px;
    left: -34px;

    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.search-form {
    position: relative;
}

.search-form .search-btn {
    position: absolute;
    top: -8px;
    right: -292px;
    width: 85px;
    height: 49px;
    border-radius: none;
    border: none;
    border: 2px solid #000000;
    background-color: transparent;
    z-index: 1;

    font: inherit;
    font-size: 14.3px;
    filter: opacity(0);
    transition: filter ease 0.6s;

}

.search-btn::after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: 0;
    display: block;
    width: 437px;
    height: 2px;
    background-color: #000000;
}

input[id="search-in-site"]:focus ~ .search-btn {
    filter: opacity(1);
}

.search-btn:hover {
    background-color: #000000;
    color: #ffffff;
}

.search-btn:active {
    background-color: #000000;
    color: rgba(255, 255, 255, 0.3);
    filter: opacity(1);
}

.user-menu  a::before {
    content: "";
    position: absolute;

    display: block;
    top: 9px;
    left: -21px;
    width: 13px;
    height: 12px;

    background-repeat: no-repeat;
    background-position: center;
}

.user-name a::before {
    background-image: url(../img/user.svg);
    left: -26px;
}

.compare a::before {
    background-image: url(../img/compare.svg);
    top: 10px;
    left: -22px;
}

.basket a::before {
    background-image: url(../img/cart.svg);
    left: -22px;
}



.site-navigation  {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;

    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight:normal;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    text-align: left;
}

.site-navigation > li:first-child {
    position: relative;
    min-height: 60px;
    flex-basis: 240px;
    padding-right: 10px;
    margin-right: 290px;

    white-space: nowrap;
}

.site-navigation > li:nth-child(2) {
    margin-right: 34px;
}

.site-navigation > li:last-child {
    margin-left: auto;
    margin-right: -3px;
    flex-basis: 120px;
}

.site-navigation > li:first-child::after {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 60px;
    background-image: url(../img/plus.svg);
    background-repeat: no-repeat;
    background-position: 12px top;
    top: 4px;
    right: 2px;
    filter: opacity(0.3);
}

.site-navigation .container-sub-menu {
    position: absolute;
    top: 47px;
    left: -60px;
    width: 1160px;
    min-height: 140px;
    box-sizing: border-box;
    padding-left: 60px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    background-color: #f7e296;
    z-index: 10;
    display: none;
}

.drop-down-menu:hover .container-sub-menu,
.drop-down-menu:focus .container-sub-menu  {
    display: flex;
}

.site-navigation ul[class^="sub"] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-right:57px;

    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    text-transform: none;
    font-weight: 300;
    letter-spacing: 0.15px;
    color: #000000;
}

.container-sub-menu ul[class="sub-menu-2"] {
    margin-right: 76px;
}

 ul[class^="sub"] li {
    margin-bottom: 5px;
}


/* Слайдер--------------------------------------------------------------- */

.slider input[type="radio"] {
    display: none;
}

.slider-controls {
    position: absolute;
    top: 322px;
    right: 64px;
    z-index: 7;
    display: flex;
    align-items: center;
}
.slider-controls label {
    width: 10px;
    height: 10px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    margin-right: 22px;
    background-color: #ffffff;

}

.slider-controls .button {
   margin-right: 219px;
}

input[id="btn-1"]:checked ~ .slider-controls label[for="btn-1"],
input[id="btn-2"]:checked ~ .slider-controls label[for="btn-2"],
input[id="btn-3"]:checked ~ .slider-controls label[for="btn-3"] {
    box-shadow:  0 0 1px 1px rgba(0, 0, 0, 0.8),
                 inset 0 0 0 3px rgba(255, 255, 255, 1),
                 inset 0 0 0 4px rgba(0, 0, 0, 0.8);
}

input[id="btn-1"]:checked ~ .slider-inner .slider-slides {
    transform: translate(0);
}

input[id="btn-2"]:checked ~ .slider-inner .slider-slides {
    transform: translate(-1130px);
}

input[id="btn-3"]:checked ~ .slider-inner .slider-slides {
    transform: translate(-2260px);
}


.slider {
    position: relative;

     width: 1160px;
     margin: 0 auto;
     background-image:
        linear-gradient(#f7e296 112px, transparent 112px);
}

.slider-inner {
    width: 1130px;
    margin:0 auto;
    overflow: hidden;
}

.slider-slides {
    width: 300%;
    display: flex;
    flex-direction: row;
    transition: transform 0.8s ease;
}

.slider-item {
     position: relative;
     display: flex;
     flex-direction: row;
     width: 1130px;
     height: 593px;
}

.slider-item .inner-title-slider {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inner-title-slider b,
.inner-title-slider p {
    margin: 0;
}

.inner-title-slider p {
    color: #464646;
}

.slider-item  b {
    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 47px;
    line-height: 56px;
    letter-spacing: 0.5px;
    color: #000000;
    text-align: left;
}

.parameter-value td {
    font-family: "gilroylight", "Arial", sans-serif;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.4px;
    text-align: left;
    color: #000000;
}

.parameter-value + tr {
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.13px;
    color: #464646;

}


/* Первый слайд ====================================================*/

.slider-item:first-of-type img {
    margin-top: 1px;
    margin-left: 75px;
    margin-right: 122px;
}
.slider-item .inner-title-slider {
    margin-top: 78px;
    width: 100%;
}

.inner-title-slider .slogan-slider-1 {
    margin-top: 2px;
    margin-bottom: 19px;
    padding-left: 3px;
}

.description-product-1 {
    max-width: 488px;
    padding-left: 3px;
}

.slider-item .parameter {
    margin-top: 130px;

}

.option-pv-1 td:first-child {
    width: 156px;
}
.option-pv-1 td:nth-child(2) {
    width: 131px;
}

.option-pv-1 td:nth-child(3) {
    padding-left: 5px;
}

.parameter-option-1 td {
    padding-top: 4px;
}
.parameter-option-1 td:first-child {
    padding-left: 2px;
}

.parameter-option-1 td:last-child {
    padding-left: 7px;
}


.slider-item::after {
    content: "01";
    position: absolute;
    top: -11px;
    right: 45px;
    display: block;
    width: 166px;
    height: 131px;
    z-index: 5;

    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 179px;
    line-height: 179px;
    font-weight: normal;
    letter-spacing: 1.79px;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    text-indent: -5px;
}

.slider-item::before {
    content: "";
    position: absolute;
    top: 38px;
    left: 585px;
    display: block;
    width: 100px;
    height: 7px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 5;
}


/* Второй Слайд ================================================================== */

.slider-item:nth-of-type(2) img {
    margin-left: 103px;
    margin-right: 136px;
    margin-top: 9px;
}

.inner-title-slider .slogan-slider-2 {
    width: 258px;
    margin-bottom: 21px;
    padding-left: 3px;
}

.description-product-2 {
    width: 439px;
    padding-left: 3px;
}

.parameter-option-2 td {
    padding-top: 4px;
    padding-left: 2px;
}

.slider-item:nth-of-type(2)::after {
    content: "02";
}

/* Третий Слайд ========================================================== */

.slider-item:last-of-type img {
    margin-left: 13px;
    margin-right: 42px;
    margin-top: 65px;
}

.inner-title-slider .slogan-slider-3 {
    width: 505px;
    margin-bottom: 21px;
    padding-left: 3px;
    z-index: 5;
}

.description-product-3 {
    width: 450px;
    padding-left: 3px;
}

.option-pv-3 td:first-child {
    width: 157px;
}

.parameter-option-3 td {
    padding-top: 4px;
    padding-left: 2px;
}

.slider-item:last-of-type::after {
    content: "03";
    z-index: -1;
}

/* Каталог популярных товаров ---------------------------------------------------------------*/

.catalog-menu {
    margin-bottom: 162px;
    min-width: 1440px;
    margin: 0 auto;
}

.catalog-menu-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1160px;
    margin: 0 auto;
}

.catalog-menu-item a {
    position: relative;
    display: block;
    width: 160px;
    height: 160px;

    background-color: rgba(240, 197, 46, 0.5);
}

.catalog-menu-item a:hover,
.catalog-menu-item a:focus {
    background-color: rgba(240, 197, 46, 1);
}

.catalog-menu-item a:active {
    background-color: rgba(240, 197, 46, 0);
    opacity: 0.5;

}

.catalog-menu-item:active {
    background-color: rgba(240, 197, 46, 1);
}


.catalog-menu-list span {
    text-decoration: none;
    color: #000000;
    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.18px;
    text-align: left;

    position: absolute;
    top: 193px;

}

.catalog-menu-item:first-of-type a {
    background-image: url(../img/popular-1.svg);
    background-repeat: no-repeat;
    background-position: 49% 52px;
}

.catalog-menu-item:nth-of-type(2) a {
    background-image: url(../img/popular-2.svg);
    background-repeat: no-repeat;
    background-position: 38px 41px;
}

.catalog-menu-item:nth-of-type(3) a {
    background-image: url(../img/popular-3.svg);
    background-repeat: no-repeat;
    background-position: 49px 38px;
}

.catalog-menu-item:nth-of-type(4) a {
    background-image: url(../img/popular-4.svg);
    background-repeat: no-repeat;
    background-position: 28px 50px;
}

.catalog-menu-item:nth-of-type(5) a {
    background-image: url(../img/popular-5.svg);
    background-repeat: no-repeat;
    background-position: 55px 32px;
}

.catalog-menu-item:nth-of-type(6) a {
    background-image: url(../img/poppular-6.svg);
    background-repeat: no-repeat;
    background-position: 13px 49px;
}

/* Меню услуг таб на CSS3 ====================================================*/

.services-slider input {
    display: none;
}

input[id="services-btn-1"]:checked ~
.services-slider-controls label[for="services-btn-1"]::after,
input[id="services-btn-2"]:checked ~
.services-slider-controls label[for="services-btn-2"]::after,
input[id="services-btn-3"]:checked ~
.services-slider-controls label[for="services-btn-3"]::after {
    background-color: #000000;
    transform: scaleY(5) scaleX(1.75);
    transform-origin: left;

}

input[id="services-btn-1"]:checked ~
    .services-slider-controls label[for="services-btn-1"],
input[id="services-btn-2"]:checked ~
    .services-slider-controls label[for="services-btn-2"],
input[id="services-btn-3"]:checked ~
    .services-slider-controls label[for="services-btn-3"] {
    color: #f7e184;
}



input[id="services-btn-1"]:checked ~ .services-slider-inner .services-slider-slides {
    transform: translateY(0);
}
input[id="services-btn-2"]:checked ~ .services-slider-inner .services-slider-slides {
    transform: translateY(-319px);
}

input[id="services-btn-3"]:checked ~ .services-slider-inner .services-slider-slides {
    transform: translateY(-638px);
}


.services-slider {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    margin-top: 162px;
    margin-bottom: 94px;
    background-image:
        linear-gradient(transparent 100px, #e5e5e5 100px);
    z-index: -10;
}

.services-slider-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-basis: 284px;
    margin-left: 140px;
    margin-bottom: 69px;
    height: 319px;
    box-sizing: border-box;
    border-right: 7px solid #000000;
}

.services-slider-inner {
    height: 319px;
    overflow: hidden;

}

.services-slider-slides {
    width: 1016px;
    display: flex;
    flex-direction: column;
    transition: transform 0.8s ease;
}

.services-slider-item {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 117px;
    margin-top: 73px;
    width: 436px;
    min-height: 246px;
}



.services-slider-controls .button {
    width: 160px;
}

.services-slider-controls .button::after {
    width: 160px;
    left: 0;
}

.services-slider-controls .button:first-child {
    margin-top: 88px;
}

.services-slider-controls .button:last-child {
    margin-bottom: 78px;
}

.services-slider-item h3 {
    margin: 0;
    margin-bottom: 31px;

    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.47px;
    font-weight: normal;
    color: #000000;
    text-align: left;
}

.services-slider-item p {
    margin: 0;
}

.services-slider-item .services-image {
    position: absolute;
    top: 12px;
    right: -257px;
    width: 136px;
    height: 164px;
    background-image: url(../img/delivery.svg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.services-slider-item:nth-of-type(2) .services-image {
    top: -12px;
    right: -278px;
    width: 171px;
    height: 194px;
    background-image: url(../img/warranty.svg);
}

.services-slider-item:last-of-type  .services-image {
    top: -12px;
    right: -252px;
    width: 156px;
    height: 186px;
    background-image: url(../img/credit.svg);
}



/* Панель с логотипами брендов -------------------------------------------*/



.brends-panel {
    width: 1440px;
    margin: 0 auto;
}


.brends-panel .brends-list {
    display: flex;
    flex-wrap: wrap;
    width: 1160px;
    margin: 0 auto;
}

.brends-item {
    width: 260px;
    height: 100px;
}

.brends-item:not(:last-child) {
    margin-right: 40px;
}

.brends-item:nth-child(3) {
    margin-right: 37px;
}

.brends-item a {
    filter: grayscale(1) opacity(0.2);
}

.brends-item a:hover,
.brends-item a:focus {
    filter: none;
}

/* Кнопки -------------------------------------------------------------- */

.button {
    position: relative;
    border: none;


    font-family: "gilroyextrabold", "Arial", "sans-serif";
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3.6px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    z-index: 100;
}

.button::after {
    content: "";
    position: absolute;
    top: 8px;
    left: -43px;
    display: block;
    width: 220px;
    height: 8px;
    background-color: #f0c52e;
    z-index: -1;
    transition: transform 0.3s ease-in-out;


}

.button:hover::after,
.button:focus::after {
    transform: scaleY(5);
}

.button:active {
    color: rgba(0, 0, 0, 0.3);
}


/* О нас и Контакты ===================================================== */

.container-wrapper {
    width: 1160px;
    margin: 0 auto;
    margin-top: 93px;

    display: flex;
    flex-direction: row;
}

.about-us,
.contacts {
    position: relative;
    margin-bottom: 90px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.container-wrapper section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 80px;
    height: 7px;
    background-color: #000000;

}

.about-us {
    flex-basis: 600px;
}

.about-us p {
    width:485px;
    margin: 0;
    margin-bottom: 30px;

}

.contacts p {
    width: 525px;
    margin: 0;
    margin-left: -3px;
    margin-bottom: 38px;
}

.map img{
    margin-left: 3px;
    padding-top: 1px;
}


.container-wrapper h2 {
    margin-top: 52px;
    margin-bottom: 43px;
    margin-left: -3px;

    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 47px;
    font-weight: normal;
    line-height: 48px;
    letter-spacing: 0.47px;
    color: #000000;
    text-align: left;
}

.about-us .partner-list {

    margin-left: 35px;
    margin-top: 35px;
    margin-bottom: 36px;


    font-family: "gilroyextrabold", "Arial", "sans-serif";
    font-size: 16px;
    font-weight: normal;
    line-height: 40px;
    color: #000000;
}

.partner-list li {
    position: relative;
}

.partner-list li::after {
    content: "";
    position: absolute;
    top: 17px;
    left: -34px;
    display: block;
    width: 4px;
    height: 4px;
    border: 2px solid rgba(229, 229, 229, 1);
    border-radius: 50%;
}

.container-wrapper .button {
    margin-top: 27px;
    width: 260px;
    text-align: center;
}

.about-us-btn::after,
.feedback-btn::after {
    left: 0;
    width: 260px;
}

.container-wrapper .feedback-btn {
    background: none;
    margin-top: 30px;
}


/* ФУТЕР --------------------------------------------------------------*/


.main-footer {
    width: 1440px;
    margin: 0 auto;
    min-height: 323px;

    background-color: #464646;

    color: #ffffff;
}

.main-footer a {
    text-decoration: none;
    color: #ffffff;
}
.containre-wrapper-footer {
    width: 1160px;
    min-height: 192px;
    margin: 0 auto;
    padding-top: 1px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}


.main-footer-logo:hover,
.main-footer-logo:focus,
.footer-services-list  a:hover,
.footer-services-list  a:focus,
.footer-copyright a:hover,
.footer-copyright a:focus {
    opacity: 0.6;
}

.main-footer-logo:active,
.footer-services-list  a:active,
.footer-copyright a:active {
    filter: opacity(0.3);
}

.footer-user-menu a:hover,
.footer-user-menu a:focus {
    color: rgba(255, 255, 255, 1);
}

.footer-user-menu a:active {
    color: rgba(255, 255, 255, 0.3);
}

.main-footer-logo {
    flex-basis: 163px;
    height: 35px;
    margin-right: 436px;
    margin-top: 64px;

}

.footer-user-menu {
    flex-basis: 480px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-top: 54px;
    justify-content: flex-end;
}

.footer-user-menu .compare,
.footer-user-menu .exet-link,
.footer-user-menu .login-link {
    margin-right: 62px;
}

.footer-user-menu .user-name {
    margin-right: 19px;
}
.footer-user-menu a {
    display: block;
    position: relative;
    color: rgba(255, 255, 255, 0.7);
}

.exet-link  a{
    color: rgba(255, 255, 255, 0.3);
}


.footer-user-menu a::before {
    content: "";
    position: absolute;

    width: 12px;
    height: 13px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
}

.footer-usr-menu-list:first-child a::before {
    background-image: url(../img/user-footer.svg);
    top: 9px;
    left: -27px;
}

.footer-usr-menu-list:nth-last-child(2) a::before {
    background-image: url(../img/compare-footer.svg);
    left: -21px;
}

.footer-usr-menu-list:last-child a::before {
    background-image: url(../img/cart-footer.svg);
    left: -21px;
    top: 9px;
}

.footer-user-menu a:hover::before,
.footer-user-menu a:focus::before,
.academy-logo:hover,
.academy-logo:focus {
    filter: opacity(0.6);
}

.footer-user-menu a:active::before,
.academy-logo:active {
    filter: opacity(0.3);
}

.adress {
    marigin: 0;
    padding: 0;
    flex-basis: 350px;
    margin-left: -1px;
    margin-top: 30px;
    letter-spacing: 0px;
}

.footer-services-list {
    padding: 0;
    margin: 0;
    margin-top: 21px;
    flex-basis: 426px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    font-weight: normal;
}

.phone {
    margin: 0;
    padding: 0;
    margin-top: 15px;
    flex-basis: 350px;
    text-align: right;
    letter-spacing: 0px;

}

.decoration-box {
    width: 80px;
    height: 7px;
    background-color: #ffc600;
    align-self: flex-end;
    margin-bottom: 12px;
}

.footer-social {
    flex-basis: 141px;
    display: flex;
    justify-content: space-between;
    margin-top: 49px;
    margin-left: 2px;

}

.footer-social .fb {
    display: block;
    width: 32px;
    height: 32px;

    background-image: url(../img/invalid-name-fb.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.footer-social .ins {
    display: block;
    width: 32px;
    height: 32px;

    background-image: url(../img/invalid-name-ins.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.footer-social .tw {
    display: block;
    width: 32px;
    height: 32px;

    background-image: url(../img/invalid-name-tw.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.footer-social a {
    filter: opacity(0.3);
}

.footer-social a:hover,
.footer-social a:focus {
    filter: opacity(0.6);
}

.footer-social a:active {
    filter: opacity(0.1);
}

.academy-logo {
    flex-basis: 84px;
    height: 35px;
    align-self: flex-end;
    text-align: right;
    margin-bottom: -1px;

}

.main-footer path {
    fill: #ffc600;
}

/* Попапы картра и форма ------------------------- */


.feedback-form {
    position: relative;

    width: 960px;
    margin: 100px auto;
    box-shadow:
        -5px 10px 20px 0px rgba(0, 0, 0, 0.1),
         5px 10px 20px 0px rgba(0, 0, 0, 0.1);

    background-color: #ffffff;
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-between;
    align-items: center;
}

.feedback-form p {
    display: flex;
    flex-direction: column;
    width: 360px;
    padding: 0;
}
.user-name-field {
    margin-left: 100px;
    margin-top: 89px;
}

.user-email-field {
    margin-right: 100px;
    margin-top: 89px;
}

.feedback-form .textarea-field {
    width:760px;
    margin: 0 100px;
    margin-top: 14px;

}

.feedback-form .button {
    width: 200px;
    background: none;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 85px;
}

.feedback-form .button::after {
    width: 200px;
    left: 0;
    top: 9px;
}

.feedback-form input {
    background-color: rgba(229, 229, 229, 0.5);
    border: none;
    height: 50px;
    padding-left: 20px;
    color: rgba(70, 70, 70, 0.4);
}

.feedback-form label {
    font-family: "gilroyextrabold", "Arial", "sans-serif";
    font-size: 18px;
    font-weight: normal;
    color: #000000;
    margin-bottom: 4px;
}

.feedback-form textarea {
    background-color: rgba(229, 229, 229, 0.5);
    border: none;
    height: 156px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 31px;
    color: rgba(70, 70, 70, 0.4);

}

.feedback-form .modal-close {
    position: absolute;
    top: 22px;
    right: 22px;
    background: none;
    border: none;
    width: 55px;
    height: 55px;
    background-image: url(../img/modal-close.svg);
    filter: opacity(0.5);
}

.feedback-form input:hover,
.feedback-form textarea:hover {
    background-color: rgba(234, 234, 234, 1);
}

.feedback-form input:focus,
.feedback-form textarea:focus {
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(240, 197, 46, 0.5);
    color: #464646;
}

.feedback-form input:invalid {
    background-color: #f6dada;
    border: none;
}



/* Карта ================================================ */

.modal-map {
    position: relative;
    width: 960px;
    margin: 262px auto;
    box-shadow:
        -5px 10px 20px 0px rgba(0, 0, 0, 0.1),
         5px 10px 20px 0px rgba(0, 0, 0, 0.1)
}

.modal-map .modal-close {
    position: absolute;
    top: 22px;
    right: 22px;
    background: none;
    border: none;
    width: 55px;
    height: 55px;
    background-image: url(../img/modal-close.svg);
    filter: opacity(0.5);
}

.modal-map p {
    margin: 0;
    height: 559px;
}

.modal-close:hover,
.modal-close:focus {
    filter: opacity(1);
}

.modal-close:active {
    filter: opacity(0.3);
}



/* MAIN каталога -----------------------------------------*/


.container-catalog {
    width: 1440px;
    margin: 0 auto;
}

.container-catalog h2 {
    margin: 0;
    padding: 0;
    margin-left: 199px;
    margin-top: 36px;

    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.56px;
    text-align: left;
    font-weight: normal;
    color: #000000;

}

.container-catalog a {
    text-decoration: none;
    color: #000000;
}

.catalog-menu {
    margin: 0;
    padding: 0;
    margin-bottom: 46px;
}

.menu-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 199px;
    margin-top: 24px;


    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.1px;
    text-align: left;
}

.menu-list-item a {
    color: rgba(0, 0, 0, 0.3);
}

.menu-list-item a:hover,
.menu-list-item a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.menu-list-item a:active {
    color: rgba(0, 0, 0, 0.1);
}

.menu-list li {
    margin-right: 39px;
    position: relative;
}

.menu-list li:not(:nth-child(3))::after {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    transform: rotate(-45deg);
    top: 9px;
    right: -22px;

}

.menu-list li:first-child::after {
    right: -18px;
}





.container-catalog-filter {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 1440px;

}

.filter {
    margin: 0;
    width: 468px;

    display:flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: #ebebeb;

}

.filter h3 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 70px;
    width: 100%;
    padding-left: 200px;
    padding-top: 22px;

    background-color: #d9d9d9;

    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 3.65px;
    color: #000000;
    text-align: left;
    text-transform: uppercase;
    vertical-align: middle;
}

.filter-form {
    margin-top: 69px;
}

.container-form {
    position: relative;
    width: 201px;
    margin-left: 199px;
    border: none;
    border-top: 2px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;

}

.container-form legend {
    position: absolute;
    top: 10px;

    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.10px;
    font-weight: normal;
    text-align: left;
    color: #000000;

}

.cost  {
    min-height: 138px;

    border-top: 2px solid #000000;
}

.cost::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 22px;
    background-image: url(../img/filter-button.svg);
    top: 59px;
    left: -5px;
    z-index: 1;
}

.cost::after {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 22px;
    background-image: url(../img/filter-button.svg);
    top: 59px;
    left: 108px;
    z-index: 1;
}

.cost output {
    position: absolute;
    top: 80px;

    color: rgba(0, 0, 0, 0.2);
    font-family: "gilroylight", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
}
.cost output:last-of-type {
    left: 90px;
}

.cost legend::after {
    content: "";
    display: block;
    position: absolute;
    width: 201px;
    height: 2px;
    background-image: linear-gradient(to right, #91c92f 110px, #dbdbdb 110px);
    top: 59px;
    left: 0px;
}

.container-form  ul {
    position: relative;
    padding: 0;
    margin: 0;
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.color-product label {
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05px;
    font-weight: 300;
    text-align: left;
    color: black;

    margin-left: 39px;
    position: relative;

}

.color-product label::before {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    position: absolute;
    background-image: url(../img/checkbox-off.svg);
    background-position: center;
    background-repeat: no-repeat;
    left: -40px;
    top: -2px;
}

 .color-product label::after{
    content: "";
    display: block;
    width: 27px;
    height: 23px;
    position: absolute;
    background-image: url(../img/checkbox-on.svg);
    background-position: center;
    background-repeat: no-repeat;
    left: -40px;
    top: -2px;
    z-index: 10;
}

 .color-product label::after {
    display: none;
}

.color-product label:hover::after,
.color-product label:focus::after,
.color-product label:hover::before,
.color-product label:focus::before {
    filter: opacity(0.6);
}

.color-product label:active::after,
.color-product label:active::before {
    filter: opacity(1);
}

input[type="checkbox"]:disabled ~ label {
    filter: opacity(0.25);
}

input[name^="bla"]:checked ~ label[for^="bla"]::after,
input[name^="whi"]:checked ~ label[for^="whi"]::after,
input[name^="blu"]:checked ~ label[for^="blu"]::after,
input[name^="red"]:checked ~ label[for^="red"]::after,
input[name^="pin"]:checked ~ label[for^="pin"]::after {
    display: block;
}

input[name^="bla"]:checked ~ label[for^="bla"]::before,
input[name^="whi"]:checked ~ label[for^="whi"]::before,
input[name^="blu"]:checked ~ label[for^="blu"]::before,
input[name^="red"]:checked ~ label[for^="red"]::before,
input[name^="pin"]:checked ~ label[for^="pin"]::before {
    display: none;
}



.color-product li {
    margin-bottom: 10px;
}

.color-product li:last-child {
    margin-bottom: 37px;
}



.radio-bluetooth label {
    margin-left: 39px;
    position: relative;

    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05px;
    font-weight: 300;
    text-align: left;
    color: black;

}
.radio-bluetooth li {
    margin-bottom: 11px;
}
.radio-bluetooth label::before {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    background-image: url(../img/radio-off.svg);
    background-position: center;
    background-repeat: no-repeat;
    left: -40px;
    top: -4px;
}

.radio-bluetooth label::after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    background-image: url(../img/radio-on.svg);
    background-position: center;
    background-repeat: no-repeat;
    left: -40px;
    top: -4px;
}

.radio-bluetooth label::after {
    display: none;
}

.radio-bluetooth label:hover::after,
.radio-bluetooth label:focus::after,
.radio-bluetooth label:hover::before,
.radio-bluetooth label:focus::before  {
    filter: opacity(0.6);
}

.radio-bluetooth label:active::after,
.radio-bluetooth label:active::before {
    filter: opacity(1);
}

input[type="radio"]:disabled ~ label {
    filter: opacity(0.25);
}


.radio-bluetooth input[id="yes"]:checked ~ label[for="yes"]::after,
.radio-bluetooth input[id="no"]:checked ~ label[for="no"]::after
 {
    display: block;
}

.radio-bluetooth input[id="yes"]:checked ~ label[for="yes"]::before,
.radio-bluetooth input[id="no"]:checked ~ label[for="no"]::before
 {
    display: none;
}

.filter-form .filter-btn {
   margin-left: 232px;
   margin-top: 33px;
}

.filter-form .filter-btn::after{
    width: 200px;
    left: -34px;
}




/* Каталог========================================================== */
.catalog {
    padding: 0;
    margin: 0;
    width:972px;
    display:flex;
    flex-direction: column;
}


.catalog-header {
    min-height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: #ebebeb;
}

.catalog-header .catalog-header-title{
    padding: 0;
    margin: 0;
    margin-left: 73px;
    margin-bottom: 1px;

    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3.35px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}

.sorting-list {
    margin-left: 52px;
    width: 288px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.sorting-item a {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.03px;
    font-weight: 400;
    text-align: left;
    color: black;
}

.sorting-list .sorting-item {
    margin-bottom: 4px;
}
.sorting-item:not(:first-child) a{
    filter: opacity(0.3);
}

.sorting-item a:hover,
.sorting-item a:focus {
    filter: opacity(0.6);
}

.sorting-item a:active {
    filter: opacity(1);
}

.catalog-header a[class^="arrow"] {
    font-size: 0;
    width: 11px;
    height: 10px;
}

.arrow-up {
    margin-left: 230px;

    background-image: url(../img/icon-up-dir.svg);
    background-repeat: no-repeat;
    background-position: center;
    filter: opacity(0.2);
}

.arrow-down {
    margin-left: 19px;

    background-image: url(../img/icon-down-dir.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.catalog-header a[class^="arrow"]:hover,
.catalog-header a[class^="arrow"]:focus {
    filter: opacity(0.4);
}

.catalog-header a[class^="arrow"]:active {
    filter: opacity(1);
}

.catalog-list {
    width: 800px;
    margin-left: 72px;
    margin-top: 23px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.catalog-item {
    position: relative;
    margin-right: 40px;
    margin-top: 46px;
}


.catalog-item h3 {
    margin: 0;
    padding: 0;
    margin-top: 23px;
    width: 259px;


    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0.18px;
    color: #000000;
    text-align: left;
}

.catalog-item:nth-child(2) h3 {
    width: 175px;
}

.catalog-item:nth-child(4) h3 {
    width: 225px;
}

.catalog-link-img:hover img,
.catalog-link-img:focus img {
    filter: opacity(0.7);
}

.catalog-item span {
    position: absolute;
    right: 0;
    top: 413px;

    font-family: "gilroylight", "Arial", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0.14px;
    color: #464646;
    text-align: left;
}

.catalog-item::after {
    content: "NEW";
    position: absolute;
    top: 29px;
    right: 27px;
    display: block;
    width: 60px;
    height: 60px;
    box-sizing: border-box;

    padding-top: 16px;
    padding-left: 4px;
    border: solid 2px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    z-index: 2;

    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0.7px;
    font-stretch: normal;
    color: rgba(0, 0, 0, 0.2);
    text-align: center;
    vertical-align: middle;

    display: none;

}

.catalog-list .catalog-item:nth-child(4)::after {
    display: block;
}

.catalog-item .button {
    position: absolute;
    top: 179px;
    left: 108px;
    background: none;
    z-index: 100;

    display: none;
}

.catalog-item .button::after {
    width: 200px;
    left: -27px;
}


.catalog-item .btn-compare {
    position: absolute;
    top: 225px;
    left: 101px;
    border:none;
    background: none;

    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.1px;
    font-weight: 300;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    z-index: 100;

    display: none;
}

.catalog-item .btn-compare:hover,
.catalog-item .btn-compare:focus {
    color: rgba(0, 0, 0, 1);
}

.catalog-item .btn-compare:active {
    color: rgba(0, 0, 0, 0.2);
}

.catalog-item:hover .button,
.catalog-item:hover .btn-compare {
    display: block;
}

.btn-basket:hover ~ .catalog-link-img,
.btn-compare:hover ~ .catalog-link-img {
    filter: opacity(0.7);
}





.paginator {
    width: 760px;
    min-height: 70px;
    margin-left: 72px;
    margin-top: 35px;
    margin-bottom: 77px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    background-color: #ebebeb;

    font-family: "gilroyextrabold", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3.5px;
    color: #000000;
    font-weight: normal;
    text-transform: uppercase;
}

.paginator .prev {
    display: block;
    width: 136px;
    height: 70px;
    box-sizing: border-box;
    padding-right: 7px;

    font: inherit;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
    text-transform: uppercase;
}

.paginator .next {
    display: block;
    width: 136px;
    height: 70px;
    box-sizing: border-box;
    padding-left: 30px;

    font: inherit;
    letter-spacing: 4px;
    vertical-align: middle;
    line-height: 70px;
    text-transform: uppercase;
}

.paginator .prev:hover,
.paginator .prev:focus,
.paginator .next:hover,
.paginator .next:focus {
    background-color: #d9d9d9;
}

.paginator .prev:active,
.paginator .next:active  {
    background-color: #d9d9d9;
    color: rgba(0, 0, 0, 0.5);
}

.paginator  li:first-child {
    margin-right: auto;
}

.paginator  li:last-child {
    margin-left: auto;
}

.paginator li:not(:first-child):not(:last-child) {
    padding-top: 2px;
}

.paginator li:nth-child(2) {
    margin-left: 3px;
}

.paginator li:nth-child(3) {
    margin-right: 28px;
    margin-left: 27px;
}

.not-active a {
   filter: opacity(0.3);
}
